@import "tailwindcss";

:root {
  --background: #050505;
  --foreground: #e0e0e0;
}

@theme inline {
  --color-cyber-black: #030304;
  --color-cyber-dark: #0a0a0f;
  --color-cyber-gray: #1f1f2e;
  --color-cyber-neon: #00f3ff;
  --color-cyber-danger: #ff003c;
  --color-cyber-warning: #fcee0a;
  --color-cyber-success: #00ff9d;
  --color-cyber-purple: #bd00ff;
  
  --font-orbitron: var(--font-orbitron);
  --font-mono: var(--font-mono);
}

body {
  background-color: var(--color-cyber-black);
  /* Cyber Grid Background */
  background-image: 
    linear-gradient(rgba(255, 255, 255, 0.03) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255, 255, 255, 0.03) 1px, transparent 1px);
  background-size: 40px 40px;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #0a0a0f;
}
::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--color-cyber-neon);
}

/* Range Slider Styling */
input[type=range] {
  -webkit-appearance: none;
  background: transparent;
}
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 10px;
  background: var(--color-cyber-neon);
  cursor: pointer;
  margin-top: -8px;
  box-shadow: 0 0 10px var(--color-cyber-neon);
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  background: #333;
}